<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803301187465-isfrgkcisan19ju02itf1tpt0gb8jgpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803301187465-isfrgkcisan19ju02itf1tpt0gb8jgpr</string>
	<key>API_KEY</key>
	<string>AIzaSyBK0O5iJkb2PlVAtfrMIGt3mQI3ak_Bxqs</string>
	<key>GCM_SENDER_ID</key>
	<string>803301187465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HvA.JuniorLeraar</string>
	<key>PROJECT_ID</key>
	<string>junior-leraar</string>
	<key>STORAGE_BUCKET</key>
	<string>junior-leraar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803301187465:ios:88e855b82925b89a</string>
	<key>DATABASE_URL</key>
	<string>https://junior-leraar.firebaseio.com</string>
</dict>
</plist>